<h3>karaoke rooms</h3>

<% @karaoke_rooms.each do |karaoke_room| %>
  <div class="karaoke_room">
    <%= karaoke_room.name %>
    <%= link_to "Show all bookings", karaoke_room_bookings_path(karaoke_room) %>
    <%= link_to "Delete", karaoke_room_path(karaoke_room), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_karaoke_room_path(karaoke_room) %>
    <%= link_to "Add booking", new_karaoke_room_booking_path(karaoke_room) %>
  </div>
<% end %>
